.homepagetitle {
	text-align: center;
	margin-bottom: 2vw;
}

/** FAQ Positioning **/

.FAQ {
	text-align: center;
}

.FAQAns {
	margin-left: 20vw;
	margin-right: 20vw;
}

/** bottom image **/
#tokenimage {
	display: block;
	margin: auto;
	border-radius: 5%;
	max-width: 25%;
	height: auto;
}